main#main{

	& #popular{
		background: #efefef;

		& .pop-card{

			& .data-wrapper{

				& .pop-card-bottom{

					& .pcb-right{

						& .btn{

							& .limits{
								left: unset;
								right: 0;
								transform: translateY(20px);
							}

							&:hover{

								& .limits{
									left: unset;
									right: 0;
									transform: translateY(0);
								}
							}
						}
					}
				}
			}
		}
	}
}