$accent: #FF9635;
$accent-dark: #FF6B35;
$primary: #1D6BD0;
$primary-light: #4299FF;
$text: #333;
$fogged: #999999;
$placeholder: #D9D9D9;

$accent-gradient: linear-gradient(to bottom, $accent, $accent-dark);
$primary-gradient: linear-gradient(to bottom, $primary-light, $primary);

$success: #228f22;
$warning: #eb6d33;
$error: #ff153cd8;